*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: "Poppins";
}
:root{
    --background-color: #38302e;
    --second-background-color: #6f6866;
    --accent-color: #788585;
    --accent-color2: #9caea9;
    --accent-color3: #ccdad1;
}

body,html{
    height: 100%;
    background-color: rgb(27, 27, 27);
}

span{
    background: linear-gradient(to top, var(--accent-color), var(--accent-color2), var(--accent-color3));
    background-clip: text;
    color : transparent;
}


.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    background-color: var(--background-color);
    position: relative;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);


    position: fixed;
    margin: 0 auto;
    width: 100%;
    display: flex;
    max-height: fit-content;
    z-index: 1;
}

.logo{
    font-size: 30px;
    font-weight: 600;
    color: rgb(237, 237, 237);
}

ul{
    display: flex;
    align-items: center;
    gap: 3em;
    position: absolute;
    right: 40%;
}

ul a{
    color: rgb(237, 237, 237);
}

section{
    min-height: 100vh;
    padding: 5% 15%;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(237, 237, 237);
    flex-direction: column;
    background-color: var(--second-background-color)
}

#home h1{
    font-size: 50px;
    margin: 20px;
    padding: auto;
}

#learn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--accent-color3);
}

#learn h1{
    font-size: 50px;
    margin: 20px;
}

#learn p{
    font-size: 20px;
    margin: 20px;
    padding: 3em;
}



.image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 3em;
    margin: 0;
    max-width: 100%;
    padding: 20px;
    top: 0;
    align-items: stretch;
    justify-content: center;
}

.box1, .box2, .box3 , .box3, .box4, .box5, .box6{
    border: 3px solid  rgb(49, 49, 49);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: .5s ease-in-out;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 2em;

    box-shadow: 0 25px 45px rgba(0,0,0,.2);
    border: 2px solid rgba(255,255,255,.5);
    border-right: 2px solid rgba(255,255,255,.2);
    border-bottom: 2px solid rgba(255,255,255,.2);
}


.box1 {
    grid-area: 1 / 1 / 2 / 2; /* Row 1, Column 1 */
}

.box2 {
    grid-area: 1 / 2 / 2 / 3; /* Row 1, Column 2 */
}

.box3 {
    grid-area: 1 / 3 / 2 / 4; /* Row 1, Column 3 */
}

.box4 {
    grid-area: 1 / 4 / 2 / 5; /* Row 1, Column 4 */
}

.box5 {
    grid-area: 2 / 1 / 3 / 3; /* Row 2, Column 1 and 2 (spanning 2 columns) */
}

.box6 {
    grid-area: 2 / 3 / 3 / 5; /* Row 2, Column 3 and 4 (spanning 2 columns) */
}

.box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid  var(--accent-color2);
}